[submodule "ISL22313"]
	path = ISL22313
	url = https://github.com/D-TACQ/ISL22313.git
	ignore = dirty
	branch = main
[submodule "SI5326"]
	path = SI5326
	url = https://github.com/D-TACQ/SI5326.git
	ignore = dirty
	branch = main
[submodule "emlog"]
	path = emlog
	url = https://github.com/D-TACQ/emlog.git
	branch = main
[submodule "mmc-mailbox-driver"]
	path = mmc-mailbox-driver
	url = https://github.com/D-TACQ/mmc-mailbox-driver.git
	branch = acq400
[submodule "AD485X"]
	path = AD485X
	url = https://github.com/D-TACQ/AD485X.git
