// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;       /* allow undefined label references and record them */

/* #include <dt-bindings/interrupt-controller/irq.h> */

/ {
	fragment@0 {
		target = <&elf2>;
		__overlay__ {
    			#address-cells = <1>;
			    #size-cells = <0>;

			adc@10 {
			        compatible = "ti,ads7128";
		        	reg = <0x10>;
				/*
			        avdd-supply = <&reg_stb_3v3>;
			        interrupt-parent = <&gpio2>;
			        interrupts = <12 IRQ_TYPE_LEVEL_LOW>;
				*/
			};
			adc@11 {
			        compatible = "ti,ads7128";
        			reg = <0x11>;
				/*
			        avdd-supply = <&reg_stb_3v3>;
			        interrupt-parent = <&gpio2>;
			        interrupts = <12 IRQ_TYPE_LEVEL_LOW>;
			        */
			};
		};
	};
};
